<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Hello World</h1>
<button id="change">change</button>
<a id="test" href="/test">Test</a>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>
    $('#change').click(function () {
        $('#test').attr('href', '/test?hello=world');

        var test2 = $('<a></a>');
        console.debug(test2);
        test2.attr('href', '/test?hello=test');
        test2.attr('target', '_blank');
        console.debug(test2);
        // test2.click();

        $('#test').click(function () {
            console.debug('window.open');
            window.open('/test?hello=hello', '_blank');
            return false;
        });
        $('#test').click();
    });
</script>

</body>
</html>
